<div class="w-5p--custom w-full bg-red-100 flex items-center justify-between px-2 py-2">
    <div class="logo w-1/12 flex items-center justify-center">
        <img src="https://cdn.shopify.com/s/files/1/0741/8193/5411/files/logo-removebg-preview.png?v=1736167587" alt="logo-brand" width="80%">
    </div>
    <div class="w-max flex items-center text-zinc-500 px-2 cursor-pointer">Logout</div>
</div>