
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AB Web Chat</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script defer src="http://localhost:8000/socket.io/socket.io.js"></script>
</head>
<body>
    
<div class="headerblock">
    <img src="/logo.png" alt="" class="logo">
</div>
<div class="lowerblock">
    <div id="content-container" class="input-box">
    </div>
    <div class="buttons-box">
        <form action="#" id="send-container" style="width: 100%;">
            <input type="text" id="messageInput" class="message-inp left">
            <input type="submit" class="btn">
        </form>
    </div>
</div>
</body>
</html>


<script href="/public/script/script.js">
</body>
</html>
